[submodule "src/grbl"]
	path = src/grbl
	url = https://github.com/grblHAL/core
[submodule "src/eeprom"]
	path = src/eeprom
	url = https://github.com/grblHAL/Plugin_EEPROM
[submodule "src/keypad"]
	path = src/keypad
	url = https://github.com/grblHAL/Plugin_I2C_keypad
[submodule "src/spindle"]
	path = src/spindle
	url = https://github.com/grblHAL/Plugins_spindle
