[submodule "grblHAL_Due/src/grbl"]
	path = grblHAL_Due/src/grbl
	url = https://github.com/grblHAL/core
[submodule "grblHAL_Due/src/eeprom"]
	path = grblHAL_Due/src/eeprom
	url = https://github.com/grblHAL/Plugin_EEPROM
[submodule "grblHAL_Due/src/keypad"]
	path = grblHAL_Due/src/keypad
	url = https://github.com/grblHAL/Plugin_I2C_keypad
[submodule "grblHAL_Due/src/spindle"]
	path = grblHAL_Due/src/spindle
	url = https://github.com/grblHAL/Plugins_spindle
[submodule "grblHAL_Due/src/bluetooth"]
	path = grblHAL_Due/src/bluetooth
	url = https://github.com/grblHAL/Plugins_Bluetooth
[submodule "grblHAL_Due/grblHAL_Due\\src\\openpnp"]
	path = grblHAL_Due/grblHAL_Due\\src\\openpnp
	url = https://github.com/grblHAL/Plugin_OpenPNP
